<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pling Application</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../dashboard/index.html">Översikt</a></li>
            <!--<li><a href="#">Inställningar</a></li>-->
            <li><a href="#">Min profil</a></li>
            <li><a href="#">Logga ut</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="index.html">Mina projekt</a></li>
            <li><a href="new_project.html">Skapa nytt projekt</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Alla användare</a></li>
            <li><a href="">Skapa ny användare</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="well">
            <div class="row">
              <div class="col-xs-6 col-sm-4 placeholders placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Brf Storken</h4>
                <span class="text-muted">Stambyte</span>
              </div>
              <div class="col-xs-6 col-sm-8">
                <div class="well" style="background-color: #FFFFFF">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mauris quis lectus viverra, quis eleifend metus commodo. Sed interdum dolor non risus vulputate, in blandit est auctor. Curabitur enim nisl, aliquam in libero eu, placerat lacinia risus. Quisque varius blandit nibh, in sagittis sapien scelerisque eu. Phasellus porta eu.</div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Senaste meddelanden</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <span class="label label-primary">(2014-12-04)</span> <small>Arbetet...</small>
                      </div>  
                      <div class="col-sm-8">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" style="width: 18%">18%</div>
                          <div class="progress-bar progress-bar-warning" style="width: 42%">42%</div>                                                 
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <span class="label label-primary">(2014-12-01)</span> <small>Snart dags</small>
                      </div>
                      <div class="col-sm-8">
                        <div class="progress">
                          <div class="progress-bar progress-bar-success" style="width: 46%">46%</div>
                          <div class="progress-bar progress-bar-warning" style="width: 9%">9%</div>  
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-offset-8 col-sm-4">
                        <button class="btn btn-primary pull-right">Till meddelanden</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="well">
            <div class="row">
              <a href="../project/index.html">
                <div class="col-xs-6 col-sm-4 placeholders placeholder">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Brf Storken</h4>
                  <span class="text-muted">Stambyte</span>
                </div>
              </a>
              <div class="col-xs-6 col-sm-8">
                <div class="alert alert-warning" role="alert">
                  <strong>Varning!</strong> Boenden måste valideras. <button type="button" class="btn btn-xs btn-primary pull-right">Gå dit</button>
                </div>
                <div class="well">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue mauris quis lectus viverra, quis eleifend metus commodo. Sed interdum dolor non risus vulputate, in blandit est auctor. Curabitur enim nisl, aliquam in libero eu, placerat lacinia risus. Quisque varius blandit nibh, in sagittis sapien scelerisque eu. Phasellus porta eu.</div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Skickade meddelanden / Lästa meddelanden: 64 / 12</h3>
                  </div>
                  <div class="panel-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-default" style="width: 18%"></div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Snabblänkar</h3>
                  </div>
                  <div class="panel-body">
                    <button type="button" class="btn btn-m btn-primary">Nytt meddelande</button>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
