<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="project.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Pling Application</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="../dashboard/index.html">Översikt</a></li>
          <!--<li><a href="#">Inställningar</a></li>-->
          <li><a href="#">Min profil</a></li>
          <li><a href="#">Logga ut</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="../dashboard/index.html"><< Mina projekt</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="index.html">Grundinformation</a></li>
          <li><a href="residents.html">Registrerande boende</a></li>
          <!--<li><a href="#">Skapa nytt projekt</a></li>-->
          <!--<li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>-->
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="messages.html">Meddelanden</a></li>
          <li class="active"><a href="new_message.html">Skicka meddelande</a><span class="sr-only">(current)</span></li>
          <!--<li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>-->
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="">Administratörer</a></li>
          <li><a href="">Redaktörer</a></li>
          <!--<li><a href="">Another nav item</a></li>-->
        </ul>
      </div>
      <div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>Brf Storken</h1>
          <p class="page-header">Stambyte</p>
          <!--<div class="alert alert-danger" role="alert">
            <strong>Problem</strong> Något har gått fel...
          </div>-->
            <h2 class="sub-header">Skriv nytt meddelanden</h2>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputHeader" class="col-sm-2 control-label">Rubrik</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputHeader" placeholder="Rubrik">
                </div>
              </div>
              <div class="form-group">
                <label for="inputMessage" class="col-sm-2 control-label">Meddelande</label>
                <div class="col-sm-8">
                  <!--<input type="text" rows="5" class="form-control" id="inputMessage" placeholder="Skriv ditt meddelande här">-->
                  <textarea class="form-control" rows="3" placeholder="Skriv ditt meddelande här"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">
                  Skicka till
                </label>
                <div class="col-sm-2">
                  <select class="form-control">
                    <option>-- Alla hus -- </option>
                    <option>Storken 1</option>
                    <option>Storken 2</option>
                    <option>Storken 3</option>
                    <option selected>Storken 4</option>
                    <option>Storken 5</option>
                  </select>
                </div>
                <div class="col-sm-1">
                  <select class="form-control">
                    <option>-- Alla portar --</option>
                    <option>A</option>
                    <option>B</option>
                    <option selected>C</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control">
                    <option>-- Alla boende --</option>
                    <option>Lägenhet 1: Mats Johansson</option>
                    <option>Lägenhet 2: Jonas Karlsson</option>
                    <option>Lägenhet 3: Ylva Ragnarsson</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                  <button type="submit" class="btn btn-primary">Skicka</button>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>